html,body{
  width:100%;
  height:100%;
  margin:0px;
}

/*For back ground image*/
.bg{
  background-image: url(../images/background.jpg);
  width:100%;
  height:100%;
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
}

/*Styling for All posts and create Post buttons*/
#posts{
  display:flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 17%;
}

/*Styling for All posts button*/
#post-1{
  width:7%;
  overflow: hidden;
  margin-left: 9px; 
  padding:7px 4px 7px 4px;
  border:1px 0px;
  border-color: rgb(180, 180, 180);
  background-color: rgb(179, 163, 19);
  backface-visibility: hidden;
  outline: none;
}

/*Styling for create Post button*/
#post-2{
  width:7%;
  overflow: hidden;
  margin-left: 9px; 
  padding:7px 4px 7px 4px;
  outline:none;
  border:1px 0px;
  border-color: rgb(180, 180, 180);
  background-color:  rgb(179, 163, 19);
  backface-visibility: hidden;
}
                                                                                                 